In [26]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Creating the URL:-

In [27]:
#url = "https://www.flipkart.com/search?q=smart+watches&sid=ajy%2Cbuh&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_11_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_11_na_na_ps&as-pos=2&as-type=RECENT&suggestionId=smart+watches%7CSmart+Watches&requestId=eb700e6b-d4b9-4311-938c-83da6c4e100b&as-searchtext=smart+watch&page=1"

### Headers for request:

In [28]:
#HEADERS = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36 Edg/125.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

### HTTP REQUEST:

In [29]:
Brand_Name = []
Price = []
Size = []

In [30]:
for i in range(1,26):

    URL = f"https://www.flipkart.com/search?q=smart+watches&sid=ajy%2Cbuh&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_11_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_11_na_na_ps&as-pos=2&as-type=RECENT&suggestionId=smart+watches%7CSmart+Watches&requestId=eb700e6b-d4b9-4311-938c-83da6c4e100b&as-searchtext=smart+watch&page={i}"
    
    HEADERS = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36 Edg/125.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=HEADERS)

    soup = BeautifulSoup(page.content, "html.parser")

    box = soup.find("div",class_="DOjaWF YJG4Cf")  ## fetch all the page

    product_container = box.find_all("div", class_="hCKiGj")  ## fetch whole element

    for container in product_container:
     

     brand = container.find("a",class_="WKTcLC")
     Brand_Name.append(brand.text if brand else "No_Brand")

     price = container.find("div",class_="Nx9bqj")
     Price.append(price.text.strip() if price else "0")

     size = container.find("div",class_='Br9IW+')
     Size.append(size.text if size else "Not available")

df = pd.DataFrame({
    "Brand" : Brand_Name,
    "Price" : Price,
    "Size": Size
})

In [31]:
df.head()

,Brand,Price,Size
0,"Boult Drift BT Calling 1.69"" HD Display, 140+ ...","₹1,299","Black Strap, Free Size"
1,"Boult Drift+ Bluetooth Calling, 1.85"" HD, 500N...","₹1,399","Jet Black Strap, Free Size"
2,Noise Colorfit Icon 2 1.8'' Display with Bluet...,"₹1,399","Black Strap, Regular"
3,Fastrack Revoltt FS1|1.83 Display|BT Calling|F...,"₹1,199","Black Strap, Free Size"
4,boAt Wave Connect Plus with 1.83'' HD Display ...,"₹1,099","Chocolate Brown Strap, Free Size"

In [32]:
df["Size"]

0                Black Strap, Free Size
1            Jet Black Strap, Free Size
2                  Black Strap, Regular
3                Black Strap, Free Size
4      Chocolate Brown Strap, Free Size
                     ...
995              MULTICOLOR Strap, KIDS
996              Black Strap, Free Size
997         Space Grey Strap, Free Size
998                Black Strap, Regular
999              Black Strap, Free Size
Name: Size, Length: 1000, dtype: object

In [33]:
df["Strap_color"] = df["Size"].str.split(",").str[0]

In [34]:
df["Size_fits"] = df["Size"].str.split(",").str[-1]

In [35]:
df.sample()

,Brand,Price,Size,Strap_color,Size_fits
403,"Boston Levin Infinity,1.85"" AMOLED Display,And...","₹1,449","Black Strap, 46*39*11.8 MM",Black Strap,46*39*11.8 MM

In [36]:
df.drop("Size", axis=1, inplace=True)

In [37]:
df.sample()

,Brand,Price,Strap_color,Size_fits
630,"Urban FIT S 1.78"" AMOLED Display with Bluetoot...","₹2,499",Space Grey Strap,Free Size

In [38]:
df["Price"] = df["Price"].str.replace("₹", "").str.replace(",","")

In [39]:
df.sample()

,Brand,Price,Strap_color,Size_fits
505,NSP STORE T800 Ultra Smart Watch / Bluetooth S...,712,Black Strap,Free Size

In [40]:
df["Brand_Name"] = df["Brand"].str.split(" ").str[:2]

In [41]:
df["Brand_Name"].str

In [42]:
df["Brand_Name"] = df["Brand_Name"].str.join(" ")

In [43]:
df.sample()

,Brand,Price,Strap_color,Size_fits,Brand_Name
641,"Boult Drift+ Bluetooth Calling, 1.85"" HD, 500N...",1399,Jet Black Strap,Free Size,Boult Drift+

In [44]:
df["Screen_Size"] = df['Brand'].str.extract(r'(\d{1,2}\.\d{1,2})')

In [45]:
df['Calling_System'] = df['Brand'].apply(lambda x: 'Yes' if 'Calling' in x else 'No')

In [46]:
df.sample()

,Brand,Price,Strap_color,Size_fits,Brand_Name,Screen_Size,Calling_System
302,"Fastrack Optimus Pro with 1.43"" AMOLED Display...",2199,Green Strap,Free Size,Fastrack Optimus,1.43,No

In [47]:
df.drop(["Brand"], axis=1, inplace=True)

In [48]:
df.head()

,Price,Strap_color,Size_fits,Brand_Name,Screen_Size,Calling_System
0,1299,Black Strap,Free Size,Boult Drift,1.69,Yes
1,1399,Jet Black Strap,Free Size,Boult Drift+,1.85,Yes
2,1399,Black Strap,Regular,Noise Colorfit,1.8,No
3,1199,Black Strap,Free Size,Fastrack Revoltt,1.83,Yes
4,1099,Chocolate Brown Strap,Free Size,boAt Wave,1.83,No

In [49]:
df.to_csv("Scrapped watch data.csv")